.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #dedddd;
    -webkit-animation-name: loader;
    animation-name: loader;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.spin {
    width: 120px;
    height: 120px;
    border: 6px solid #9356DC;
    border-radius: 50%;
    border-top-color: #FF79DA;
    border-bottom-color: #FF79DA;
    border-left-color: #99E2D0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
    -webkit-animation: spiner 1s linear;
    animation: spiner 1s linear;
    -webkit-animation: spiner 3s linear;
    animation: spiner 3s linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

@-webkit-keyframes loader {
    100% {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes loader {
    100% {
        opacity: 0;
        z-index: -1;
    }
}

@-webkit-keyframes spiner {
    99.999% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
        opacity: 1;
    }
    100% {
        /* uniquement vers la fin de l'animation */
        opacity: 0;
    }
}

@keyframes spiner {
    99.999% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
        opacity: 1;
    }
    100% {
        /* uniquement vers la fin de l'animation */
        opacity: 0;
    }
}

@media (min-width: 1024px) {
    .Fonctionnement {
        width: 30%;
        margin-left: auto;
        margin-right: auto;
    }
    .titre {
        margin-left: 1rem;
    }
    .conteneur-menus {
        min-height: 800px;
        margin-top: -1rem;
    }
    .les-menus {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .menu {
        max-width: 500px;
        margin: 2rem;
        margin-bottom: 3rem;
    }
    .menus {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .contenue1 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

body {
    margin: 0 auto;
    font-family: Roboto, sans-serif;
}

#logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: auto;
    width: 40%;
    padding: 0.5rem;
}

.section1 {
    -webkit-box-shadow: 0 0 0.3rem 0px #757373;
    box-shadow: 0 0 0.3rem 0px #757373;
    background-color: #f3f3f3;
    padding: 0.9rem 1rem;
}

.map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: bold;
}

.zone {
    margin-right: 1rem;
}

.image1 {
    -o-object-fit: cover;
    object-fit: cover;
    height: 200px;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    -webkit-box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    margin-top: 2rem;
    text-decoration: none;
    background-color: white;
    color: black;
}

.titre-menu {
    display: grid;
    grid-template-columns: 1fr 1.25rem;
    padding: 1rem;
}

.Fonction1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 3rem;
    width: auto;
    background-color: #f2f2f2;
    border: #f2f2f2 solid 2px;
    border-radius: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    -webkit-box-shadow: 0.25rem 0.25rem 0rem rgba(0, 0, 0, 0.1);
    box-shadow: 0.25rem 0.25rem 0rem rgba(0, 0, 0, 0.1);
}

.Fonction1.compteur::before {
    counter-increment: section3 1;
    content: counter(section3);
    background: #9356DC;
    border-radius: 100px;
    padding: 0rem 0.2rem;
    color: white;
    font-size: small;
    margin-left: -0.4rem;
}

.icone-fonctionnement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: -2px;
    min-width: 3rem;
    min-height: 3rem;
}

.section2 {
    padding: 1rem;
    text-align: center;
    background-color: #eee;
}

.Explorer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    cursor: pointer;
}

.Explorer__btn {
    cursor: pointer;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
    background-image: linear-gradient(#9356DC, #FF79DA);
    text-align: center;
    -ms-flex-line-pack: center;
    align-content: center;
    cursor: pointer;
    padding: 0.75rem 1.5rem;
    border: 0;
    font-weight: 700;
    font-size: 1.1rem;
    color: #fff;
    border-radius: 90px;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
}

.Explorer__btn:hover {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}

.Fonctionnement {
    padding: 2rem 1rem;
    counter-reset: section3;
}

.contenue {
    padding: 1rem;
    background-color: #eee;
}

.discription-menu {
    display: block;
}

.note {
    position: absolute;
    padding: 0.4rem 1rem;
    right: 1rem;
    color: green;
    background-color: #99E2D0;
    border-radius: 6px;
    margin-top: 1rem;
    font-weight: 900;
}

.region {
    margin-top: 0px;
}

.discription-restaurant {
    font-weight: 300;
    margin: 1.5rem 0;
}

.Coeur {
    font-size: 1.5rem;
}

.far.fa-heart {
    position: relative;
    right: 20px;
}

.far.fa-heart:hover {
    position: relative;
    display: inline-block;
    font-size: 2em;
    font-weight: 800;
    overflow: hidden;
    background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
    background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    -webkit-transition: background-position 275ms ease;
    transition: background-position 275ms ease;
    text-decoration: none;
}

.titre-contenue1 {
    text-decoration: none;
    margin: 0;
}

.footer {
    position: relative;
    background-color: black;
    text-decoration: none;
    padding: 1rem;
    color: white;
    bottom: 0;
    left: 0;
    right: 0;
}

.liens-Fonctionnement {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
    padding-left: 1rem;
    padding-top: 0rem;
    padding-bottom: 1rem;
}

li {
    padding-bottom: 0.5rem;
}

.titre-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 1rem;
    font-family: "Shrikhand";
}

.retour {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    place-items: center;
    padding-left: 2rem;
    font-size: x-large;
}

.titre {
    border-bottom: 3px solid #99E2D0;
    width: 50px;
    padding-bottom: 0.3rem;
    margin-left: 1rem;
}

.menu1-titre {
    font-family: "Shrikhand";
}

.conteneur-menus {
    background-color: #f2f2f2;
    border-radius: 2rem 2rem 0 0;
    margin-top: -3rem;
    position: relative;
}

.conteneur-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1.5rem;
}

.les-entrees {
    max-width: 100%;
    padding: 0 1rem;
    overflow: hidden;
}

.button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 2rem;
}

.button .button-com {
    cursor: pointer;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
    background-image: linear-gradient(#9356DC, #FF79DA);
    text-align: center;
    -ms-flex-line-pack: center;
    align-content: center;
    cursor: pointer;
    padding: 0.75rem 1.5rem;
    border: 0;
    font-weight: 700;
    font-size: 1.1rem;
    color: #fff;
    border-radius: 90px;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
}

.button .button-com:hover {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}

.fa-store {
    color: #9356DC;
}

.sous-titre {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: white;
    margin: 1rem;
    border-radius: 20px 20px;
    padding: 1rem;
    overflow: hidden;
    width: 80%;
    -webkit-box-shadow: 0.25rem 0.25rem 0rem rgba(0, 0, 0, 0.1);
    box-shadow: 0.25rem 0.25rem 0rem rgba(0, 0, 0, 0.1);
}

.sous-titre:hover {
    -webkit-box-flex: 25%;
    -ms-flex: 25%;
    flex: 25%;
}

.sous-titre__titre-section {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.sous-titre__prix {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-left: 2rem;
    font-weight: 800;
}

.sous-titre__precision {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.sous-titre__confirmed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 4rem;
    margin: -1rem -1rem -1rem 0rem;
    border-radius: 0rem 1rem 1rem 0rem;
    -webkit-transition: all 700ms;
    transition: all 700ms;
    -webkit-transition-property: margin-left;
    transition-property: margin-left;
}

.sous-titre__confirmed:hover {
    width: 8em;
    -webkit-transition: 1s;
    transition: 1s;
    background-color: #99E2D0;
    cursor: pointer;
    margin-left: 1rem;
}

.sous-titre__check {
    color: white;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    border-radius: 100px;
}

.sous-titre__check:hover {
    -webkit-transform: rotate(0);
    transform: rotate(0);
}

.sous-titre__titre-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.One {
    -webkit-animation: One 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: One 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes One {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes One {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}


/*# sourceMappingURL=style.css.map */