@import '../base/-variables.scss';
@import'../base/-loader.scss';
@import'../base/-variables.scss';
@import'../base/-media.scss';
$color:white;
$padding:1rem;
@mixin btn {
    cursor: pointer;
    background-image: linear-gradient($primary-color, $secondary-color);
    text-align: center;
    align-content: center;
    cursor: pointer;
    padding: 0.75rem 1.5rem;
    border: 0;
    font-weight: 700;
    font-size: 1.1rem;
    color: #fff;
    border-radius: 90px;
    transition-property: transform;
    transition-duration: 400ms;
    &:hover {
        background: linear-gradient(170deg, rgba(255, 121, 218, 0.8) 0%, rgba(214, 108, 219, 0.8) 39%, rgba(171, 94, 220, 0.8) 85%, rgba(155, 89, 220, 0.8) 100%);
        transform: scale(1.15);
        box-shadow: 8px 8px 2px #acabab;
    }
}

body {
    margin: 0 auto;
    font-family: $font-stack;
}

#logo {
    display: flex;
    align-items: center;
    margin: auto;
    width: 40%;
    padding: 0.5rem;
}

.section1 {
    box-shadow: 0 0 0.3rem 0px #757373;
    background-color: $bg;
    padding: 0.9rem $padding;
}

.map {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.zone {
    margin-right: $padding;
}

.section2 {
    padding: $padding;
    text-align: center;
    background-color: #eee;
    &__.discription-restaurant {
        font-weight: 300;
        margin: 1.5rem 0;
    }
    .Explorer__btn {
        @include btn;
    }
}

.image1 {
    object-fit: cover;
    height: 200px;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.menu {
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 10%);
    border-radius: 1rem;
    margin-top: 2rem;
    text-decoration: none;
    background-color: $color;
    color: black;
}

.titre-menu {
    display: grid;
    grid-template-columns: 1fr 1.25rem;
    padding: $padding;
}

.Fonctionnement {
    padding: 2*$padding $padding;
    counter-reset: section3;
}

.Fonction1 {
    display: flex;
    align-items: center;
    height: 3rem;
    width: auto;
    background-color: #f2f2f2;
    border: #f2f2f2 solid 2px;
    border-radius: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    box-shadow: 0.25rem 0.25rem 0rem rgb(0 0 0 / 10%);
}

.compteur::before {
    counter-increment: section3 1;
    content: counter(section3);
    background: $primary-color;
    border-radius: 100px;
    padding: 0rem 0.2rem;
    color: $color;
    font-size: small;
    margin-left: -.4rem;
}

.icone-fonctionnement {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
    min-width: 3rem;
    min-height: 3rem;
}

.Explorer {
    display: flex;
    align-content: center;
    cursor: pointer;
}

.contenue {
    padding: $padding;
    background-color: #eee;
}

.les-menus {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
}

.note {
    position: absolute;
    padding: 0.4rem $padding;
    right: $padding;
    color: green;
    background-color: $tertiary-color;
    border-radius: 6px;
    margin-top: $padding;
    font-weight: 900;
}

.region {
    margin-top: 0px;
}

.far.fa-heart {
    position: relative;
    right: 20px;
    &:hover {
        position: relative;
        display: inline-block;
        font-size: 3rem;
        font-weight: 800;
        overflow: hidden;
        background: linear-gradient(0deg, $primary-color 0%, $secondary-color 100%);
        transition: all 0.3s linear 0s;
        position: relative;
        display: inline-block;
        font-size: 3em;
        font-weight: 800;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% 100%;
        background-position: 100%;
        transition: background-position 275ms ease;
        text-decoration: none; // text decorations are clipped in WebKit browsers
        animation-fill-mode: both;
        animation-delay: 1s;
    }
}

.titre-contenue1 {
    text-decoration: none;
    margin: 0;
}

.footer {
    position: relative;
    background-color: black;
    text-decoration: none;
    padding: $padding;
    color: $color;
    bottom: 0;
    left: 0;
    right: 0;
}

.liens-Fonctionnement {
    text-decoration: none;
    color: $color;
}

ul {
    list-style-type: none;
    padding-left: $padding;
    padding-top: 0rem;
    padding-bottom: $padding;
}

li {
    padding-bottom: 0.5rem;
}

.titre-footer {
    display: flex;
    margin-left: 1rem;
    font-family: "Shrikhand";
}

.retour {
    display: flex;
    align-content: center;
    place-items: center;
    padding-left: 2*$padding;
    font-size: x-large;
    color: black;
}

.titre {
    border-bottom: 3px solid $tertiary-color;
    width: 50px;
    padding-bottom: .3rem;
    margin-left: 1rem;
}

.menu1-titre {
    font-family: 'Shrikhand';
}

.conteneur-menus {
    background-color: #f2f2f2;
    border-radius: 2rem 2rem 0 0;
    margin-top: -3rem;
    position: relative;
}

.conteneur-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
}

.les-entrees {
    max-width: 100%;
    padding: 0 $padding;
    overflow: hidden;
}

.button {
    display: flex;
    justify-content: center;
    padding: 2*$padding;
    .button-com {
        @include btn;
    }
}

.fa-store {
    color: $primary-color;
}

.sous-titre {
    display: flex;
    flex-direction: row;
    background-color: $color;
    margin: 1rem;
    border-radius: 20px 20px;
    padding: 1rem;
    overflow: hidden;
    width: 80%;
    box-shadow: 0.25rem 0.25rem 0rem rgb(0 0 0 / 10%);
    cursor: pointer;
    transition: .3s;
    animation: fad-in;
    animation-timing-function: cubic-bezier(0.390, 0.575, 0.565, 1.000);
    animation-fill-mode: both;
    transform: translateY(50px);
    &__confirmed {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
        margin: -1rem -1rem -1rem 0rem;
        border-radius: 0rem 1rem 1rem 0rem;
        overflow: hidden;
        background-color: $tertiary-color;
        margin-right: -100px;
        transition-duration: 0.5s;
    }
    &:hover &__confirmed {
        margin-right: -1rem;
    }
    &__titre-section {
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        flex: 1;
    }
    &__prix {
        display: flex;
        align-items: flex-end;
        padding-right: 5*$padding;
        font-weight: 800;
    }
    &__precision {
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &__check {
        color: $color;
        border-radius: 100px;
        transform: rotate(180deg);
        transition-duration: 0.5s;
    }
    &:hover &__check {
        transform: rotate(0);
    }
}

.One {
    animation: fad-in 0.9s;
}

.two {
    animation: fad-in 2s;
}

.three {
    animation: fad-in 4s;
}

@keyframes fad-in {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}