.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: #dedddd;
  animation-name: loader;
  animation-fill-mode: both;
  animation-delay: 1s;
}

.spin {
  width: 120px;
  height: 120px;
  border: 6px solid #9356DC;
  border-radius: 50%;
  border-top-color: #FF79DA;
  border-bottom-color: #FF79DA;
  border-left-color: #99E2D0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  animation: spiner 1s linear;
  animation: spiner 3s linear;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes spiner {
  99.999% {
    transform: translate(-50%, -50%) rotate(360deg);
    opacity: 1;
  }
  100% {
    /* uniquement vers la fin de l'animation */
    opacity: 0;
  }
}
@media (min-width: 1024px) {
  .Fonctionnement {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
  }

  .titre {
    margin-left: 1rem;
  }

  .conteneur-menus {
    min-height: 800px;
  }

  .les-menus {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    grid-gap: 2rem;
  }

  .discription1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .discription2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .discription3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .discription4 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .menus {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px;
    grid-gap: 2rem;
  }

  .contenue1 {
    display: flex;
    justify-content: center;
  }
}
body {
  margin: 0;
}

#logo {
  display: flex;
  align-items: center;
  margin: auto;
  width: 40%;
  padding: 0.5rem;
}

.map {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.section1 {
  box-shadow: 0 0 0.3rem 0px #757373;
  background-color: #f3f3f3;
  padding: 0.9rem 1rem;
}

.zone {
  margin-right: 1rem;
}

.image1 {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}

.menu {
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  margin-top: 2rem;
  text-decoration: none;
  background-color: white;
  color: black;
}

.titre-menu {
  display: grid;
  grid-template-columns: 1fr 1.25rem;
  padding: 1rem;
}

.Fonction1 {
  display: flex;
  align-items: center;
  height: 3rem;
  width: auto;
  background-color: #f2f2f2;
  border: #f2f2f2 solid 2px;
  border-radius: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  box-shadow: 0.25rem 0.25rem 0rem rgba(0, 0, 0, 0.1);
}

.Fonction1.compteur::before {
  counter-increment: section3 1;
  content: counter(section3);
  background: #9356DC;
  border-radius: 100px;
  padding: 0rem 0.2rem;
  color: white;
  font-size: small;
  margin-left: -0.4rem;
}

.icone-fonctionnement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -2px;
  min-width: 3rem;
  min-height: 3rem;
}

.section2 {
  padding: 1rem;
  text-align: center;
  background-color: #eee;
}

.Explorer {
  display: flex;
  align-content: center;
  cursor: pointer;
}
.Explorer__btn {
  cursor: pointer;
  background-image: linear-gradient(#9356DC, #FF79DA);
  text-align: center;
  align-content: center;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  border: 0;
  font-weight: 700;
  font-size: 1.1rem;
  color: #fff;
  border-radius: 90px;
}

.Fonctionnement {
  padding: 2rem 1rem;
  counter-reset: section3;
}

.contenue {
  padding: 1rem;
  background-color: #eee;
}

.discription-menu {
  display: block;
}

.note {
  position: absolute;
  padding: 0.4rem 1rem;
  right: 1rem;
  color: green;
  background-color: #99E2D0;
  border-radius: 6px;
  margin-top: 1rem;
  font-weight: 900;
}

.region {
  margin-top: 0px;
}

.discription-restaurant {
  font-weight: 300;
  margin: 1.5rem 0;
}

.Coeur {
  font-size: 1.5rem;
}

.far.fa-heart {
  position: relative;
  right: 20px;
}
.far.fa-heart:hover {
  position: relative;
  display: inline-block;
  font-size: 2em;
  font-weight: 800;
  overflow: hidden;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none;
}

.titre-contenue1 {
  text-decoration: none;
  margin: 0;
}

.footer {
  position: relative;
  background-color: black;
  text-decoration: none;
  padding: 1rem;
  color: white;
  bottom: 0;
  left: 0;
  right: 0;
}

.liens-Fonctionnement {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
  padding-left: 1rem;
  padding-top: 0rem;
  padding-bottom: 1rem;
}

li {
  padding-bottom: 0.5rem;
}

.titre-footer {
  display: flex;
  margin-left: 1rem;
  font-family: "Shrikhand";
}

.retour {
  display: flex;
  align-content: center;
  place-items: center;
  padding-left: 2rem;
  font-size: x-large;
}

.titre {
  border-bottom: 3px solid #99E2D0;
  width: 50px;
  padding-bottom: 0.3rem;
  margin-left: 1rem;
}

.menu1-titre {
  font-family: "Shrikhand";
}

.conteneur-menus {
  background-color: #f2f2f2;
  border-radius: 2rem 2rem 0 0;
  margin-top: -3rem;
  position: relative;
}

.conteneur-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}

.les-entrees {
  max-width: 100%;
  padding: 0 1rem;
  overflow: hidden;
}

.button {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.button .button-com {
  display: flex;
  text-align: center;
  align-content: center;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  border: 0;
  font-weight: 700;
  font-size: 1.1rem;
  color: #fff;
  background-image: linear-gradient(#9356DC, #FF79DA);
  border-radius: 90px;
}

.fa-store {
  color: #9356DC;
}

.sous-titre {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  margin: 1rem;
  border-radius: 20px 20px;
  padding: 1rem;
  overflow: hidden;
  width: 80%;
  box-shadow: 0.25rem 0.25rem 0rem rgba(0, 0, 0, 0.1);
}
.sous-titre:hover {
  flex: 25%;
}
.sous-titre__titre-section {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.sous-titre__prix {
  display: flex;
  align-items: flex-end;
  margin-left: 2rem;
  font-weight: 800;
}
.sous-titre__precision {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.sous-titre__confirmed {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  margin: -1rem -1rem -1rem 0rem;
  border-radius: 0rem 1rem 1rem 0rem;
  transition: all 700ms;
  transition-property: margin-left;
}
.sous-titre__confirmed:hover {
  width: 8em;
  transition: 1s;
  background-color: #99E2D0;
  cursor: pointer;
  margin-left: 1rem;
}
.sous-titre__check {
  color: white;
  transform: rotate(180deg);
  transition-duration: 0.5s;
  border-radius: 100px;
}
.sous-titre__check:hover {
  transform: rotate(0);
}
.sous-titre__titre-section {
  display: flex;
  flex-direction: column;
  flex: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.One {
  animation: One 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes One {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
