$tablet-width: 768px;
$desktop-width: 1024px;
@media (min-width: $desktop-width) {
    .Fonctionnement {
        width: 30%;
        margin-left: auto;
        margin-right: auto;
    }
    .titre {
        margin-left: 1rem;
    }
    .conteneur-menus {
        min-height: 800px;
    }
    .les-menus {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 300px 300px;
        grid-gap: 2rem;
    }
    .discription1 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .discription2 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .discription3 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .discription4 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .menus {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 400px;
        grid-gap: 2rem;
    }
    .contenue1 {
        display: flex;
        justify-content: center;
    }
}